@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body { 
    font-family: poppins, sans-serif;
    background-color:#a4c2d1;
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    
    color: #184f63; 
}
/*About section*/
#about{
    background-color: white;
}
/*Skills section*/
#portfolio{
    background-color: #dbdcde;
}
/*Contact section*/
#contact{
    background-color: white;
}
/*Header*/
#hero {
    background-color: #dbdcde;
    background-size: cover;
    background-image: url(../images/background.webp);
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;  
}